/* Write your CSS code here */
.each-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid green;
}

.coin-logo {
  height: 45px;
  width: 45px;
}

.crypto-currenices {
  display: flex;
}
